html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(61, 60, 60);
}

h1 {
  text-align: center;
  color: #DDD;
}

img {
  margin: 20px;
  padding: 0;
  display: inline-block;
}

img + img {
  margin-top: 0;
}

#container {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(96, 96, 96);
}

.title {
  border-bottom: 1px solid #DDD;
  line-height: 50px;
  background-color: #333;
  overflow: auto;
}
